@media only screen and (max-width : 1921px) {
    .conversion_block_style{
        background-attachment: fixed
    }
}
/*==========  Desktop First Method  ==========*/
/*=================================================================  1620px  ==========*/
@media only screen and (max-width : 1620px) {
    .bg_block_top {
        /*background-position: 25% 22%;*/
        background-size: auto;
    }
}
/*=================================================================  1620px  ==========*/


/*=================================================================  1599px  ==========*/
@media only screen and (max-width : 1599px) {
    .show_me_all_shops .list_of_shop .bxslider_shops li{
        width: 20%;
    }
    .show_me_all_shops .list_of_shop .ul_wrapps li{
        width: 25%;
    }
    .bg_block_top_autor .slider_wrapper_first_screen .bxslider_first .one-slide .cont{
        padding-left: 13%;
    }
    .show_me_all_shops .list_of_shop {
        max-height: 645px;
    }
    .catalog_block .list_of_shop {
        max-height: none;
    }
}
/*=================================================================  1599px  ==========*/


/*=================================================================  1399px  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1399px){
    .pb_71{
        padding-bottom: 80px;
    }
    #vk_groups{
        width: 100% !important;
    }
    #vk_groups iframe{
        width: 100% !important;
    }
    .wrapp_blog_it .img_wrapper_blog_item{
        height: 140px;
    }
    .fancy_vrapp_blocks .list li{
        width: 140px;
        height: 107px;
        margin-right: 20px;
        margin-bottom: 20px;
    }


    .padding_fore_one_cont{
        padding: 35px;
    }

    .icon_soc_join{
        left: 0;
    }
    .conversion_block_style .bg_block_top .color_line{
        bottom: -1px;
    }
    .gold_wrapp_block{
        margin-right: 0;
    }
    .cooper_wrapp_block{
        margin-left: 0;
    }
    .pos_relative_92{
        top: 0;
    }
    .wrapp_max_w_block{
        width:  400px;
        padding-left: 50px
    }
    .activate_cashb{
        padding: 17px 32px;
    }
    .akc_wrapper .h2_z{
        font-size: 30px;
    }
    .p2_z{
        font-size: 30px;
    }
    .padding_fore_all_cont_block{
        padding: 40px 30px;
    }
    .autorised_user .middle{
        margin-top: 88px;
    }
    .wrappers .search {
        min-width: 460px;
    }
    .browser_block .logo__and_text_wrapper .text_wrappers a{
        font-size: 20px;
        margin-top: 8px;
    }
    .browser_block .logo__and_text_wrapper{
        margin-left: 20px;
    }
    .header .logo img{
        margin-top: 15px;
        width: 146px;
    }
    .wrapp_menus .flex_blocks .ava_blocks{
        margin-top: 10px;
    }
    .wrapp_menus #aut_position{
        top: 75px;
        width: 476px;
    }
    .wrapp_menus .flex_blocks .named_user{
        max-width: 155px;
    }
    .wrapp_menus .flex_blocks{
        padding-left: 12px;
        padding-right: 12px;
        height: 75px;
    }
    .wrapp_menus .flex_blocks .wr_all{
        margin-top: 15px;
    }
    .wrapp_menus .flex_blocks .named_user.wr_all{
        margin-top: 18px
    }
    .ava_images a img{
        width: 90px;
        margin-top: 17px;
        margin-bottom: 10px;
    }
    .ava_images a span{
        font-size: 16px;
    }
    .text_area_fore_review{
        min-height: 100px;
        max-height: 100px;
    }
    .subm_btns{
        margin-top: 20px;
    }
    .main-wrapps_span{
        font-size: 30px;
    }
    .show_me_all_shops .list_of_shop .bxslider_shops li{
        width: 25%;
    }
    .show_me_all_shops .list_of_shop .ul_wrapps li{
        width: 33.33333333%;
    }

    .show_me_all_shops .center_blocks_search .h2_shops{
        font-size: 30px;
    }
    .pay_block .right_img_blocks{
        min-height: 568px;
    }
    .pay_block .left_pat_sistems_block{
        min-height: 443px;
    }
    .pay_block .left_pat_sistems_block .what_say_about_us {
        font-size: 30px;
    }
    .more_cashback .wrapp_all_prasents_and_slider .animate_hover_wrapp {
        width: 470px;
        padding: 0 20px;
    }
    .more_cashback .wrapp_slider_bottom {
        width: 470px;
        padding: 0 20px;
    }
    .more_cashback .wrapp_all_prasents_and_slider .animate_hover_wrapp{
        width: 470px;
        padding: 0 20px;
    }
    .review_from_user .slider_wrapper .bxslider li .user_review{
        max-height: 110px;
    }
    .review_from_user .img_wrapper {
        min-height: 460px;
    }
    .review_from_user .slider_wrapper {
        min-height: 460px;
    }
    .review_from_user .slider_wrapper .what_say_about_us{
        font-size: 30px;
    }
    .review_from_user .slider_wrapper {
        padding: 25px 95px 0 95px;
    }
    .review_from_user .slider_wrapper .bxslider li img{
        width: 90px;
        margin: 23px auto 23px auto;
    }
    .review_from_user .slider_wrapper .bxslider li .user_review{
        font-size: 16px;
        line-height: 23px;
    }
    .review_from_user .slider_wrapper {
        padding: 25px 40px 0 40px;
    }
    .review_from_user .slider_wrapper .bxslider li .user_name{
        font-size: 16px;
        margin-top: 23px;
        margin-bottom: 15px;
    }
    .more_cashback .wrapp_div_fore_start_economy {
        width: 100%;
        float: none;
    }
    .bg_block_top .left_part_main_block .left_part_main_block_h1 {
        font-size: 46px;
    }
    .bg_block_top .white_form_start_economy .icon_soc_join ul li {
        display: inline-block;
        width: 45px;
        height: 45px;
        margin-right: 6px;
    }
    .more_cashback .wrapp_div_fore_start_economy .icon_soc_join ul li {
        display: inline-block;
        width: 45px;
        height: 45px;
        margin-right: 6px;
    }
    .shops_block_start .text_fore_images {
        left: -33px;
    }
    .shops_block_start .img_s_block_shop .animate_blue_bg_number{
        right: -25px;
    }
    .shops_block_start .img_s_block_shop:hover > .animate_blue_bg_number{
        transform: scale(1.25);
        top: -35px !important;
        right: -35px !important;
    }

    .footer .mar_top_wrapp .nav_menu ul {
        width: 33.3%;
    }
    .footer {
        min-height: 315px;
    }
    .more_cashback .h2_ore_cashback{
        font-size: 36px;
        margin-bottom: 30px;
    }
    .h2_ore_about_us{
        font-size: 30px;
        margin-bottom: 30px;
    }
    .catalog_block .list_of_shop {
        padding: 0 0 3px 0;
        width: 102%;
        margin-left: -1%;
    }
    .label_s{
        white-space: nowrap;
    }
    .conversion_block_style .left_part_main_block .left_part_main_block_h1{
        font-size: 52px;
        margin-bottom: 24px;
    }
    .conversion_block_style {
        height: 635px;
        min-height: 635px;
        background-position: 47% 0;
        background-attachment: fixed;
    }
    .conv_logos {
        margin-bottom: 75px;
    }
    .conversion_block_style .white_form_start_economy .inside_form_wrapp .form_white_bg{
        margin-top: 84px;
    }
    .w_color_about_us .small_line_wrapper{
        width: 170px;
        height: 4px;
        margin: 14px auto 34px auto;
        overflow: hidden;
    }
}
/*=================================================================  1399px  ==========*/

/*=================================================================  1250px  ==========*/
@media only screen and (max-width : 1250px) {
    .w100OnLess1200{
        width: 100% !important;
    }
    .heddenOnLess1200{
        display: none !important;
    }
}
/*=================================================================  1250px  ==========*/


/*=================================================================  1200px  ==========*/
@media only screen and (max-width : 1200px) {
    .gold_wrapp_block {
        margin-right: -6px;
    }
    .cooper_wrapp_block {
        margin-left: -6px;
    }
    .w100OnLess1200{
        width: 100% !important;
    }
    .heddenOnLess1200{
        display: none !important;
    }
}
/*=================================================================  1200px  ==========*/


/*=================================================================  1100px  ==========*/
@media only screen and (max-width : 1100px) {
    .pay_block .left_pat_sistems_block .pay_sistams_wrapper .pay_one_block{
        height: 165px;
    }
    .pay_block .left_pat_sistems_block .pay_sistams_wrapper .pay_one_block .img_block_pay img{
        margin: 20px auto 17px;
    }
    .pay_block .left_pat_sistems_block .pay_sistams_wrapper .pay_one_block .img_block_pay{
        height: 115px;
    }
    .wrapp_max_w_block {
        width: 420px;
        padding-left: 70px;
    }
}
/*=================================================================  1100px  ==========*/


/*=================================================================  979px  ==========*/
/* Medium Devices, Desktops */
@media only screen and (max-width : 979px) {
    .one_of_garanty{
        display: flex;
        line-height: 20px;
    }
    .one_of_garanty span{
        margin-right: 9px;
    }
    .flex_wrapper .one_of_infoblock{
        width: 195px;
        margin-bottom: 0;
    }
    .flex_wrapper{
        flex-direction: row;
    }
    .pb_71{
        padding-bottom: 0;
    }
    .flex_block_fore_btns{
      display: block;
    }
    .time_to_end{
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    .flex_block_fore_btns .wrapp_btns{
        margin-right: 0;
    }
    .p_textcenter{
        text-align: center;
    }
    .flex_child{
        width: 50%;
    }
    .mt20_small{
        margin-top: 20px;
    }
    .wrapp_max_w_block {
        width: 350px;
        padding-left: 0;
    }
    .wrapp_blog_it .img_wrapper_blog_item{
        height: 110px;
    }
    .one_item{
        border-right: none;
    }
    .main_user_icons {
        padding-left: 10px;
        margin-bottom: 30px;
    }
    .link_to_slide_top_block{
        display: inline-block;
    }
    .hidds_wrapper{
        height: 97px;
        overflow: hidden;
        position: relative;
    }
    .hidds_wrapper:after{
        height: 45px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        display: block;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0+0,1+49,1+100 */
        background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 49%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 49%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    .activate_cashb{
        width: 100%;
        text-align: center;
    }
    .wrapper_main_contant .sticky{
        top: 0 !important;
    }
    .pb_0{
        display: block !important;
        text-align: center;
    }
    .pb_0 .img_blocks_icon{
        margin-bottom: 15px;
    }
    .t_a_c980{
        text-align: center;
    }
    .pb_0 .name_us{
        margin-bottom: 10px !important;
    }
    .m_w_270{
        min-width: 270px !important;
        float: none;
        margin: 20px auto;
        display: block;
    }
    .rating{
        position: relative;
        margin-bottom: 20px;
    }
    .rew_text{
        margin-top: 20px;
    }
    .akc_wrapper .h2_z{
        font-size: 30px;
    }
    .p2_z{
        font-size: 30px;
    }
    .padding_fore_all_cont_block{
        padding: 30px 20px;
    }
    .rewiev_wrapp_block .one_rewiew_blocks .pos_abs_r{
        position: relative;
    }
    .p_abs{
        position: relative;
        margin-top: 0;
    }
    .middle {
        margin-top: 68px;
    }
    .autorised_user .middle{
        margin-top: 48px;
    }

    .browser_block .logo__and_text_wrapper .text_wrappers {
        max-width: 80%;
    }
    .browser_block .logo__and_text_wrapper .text_wrappers a{
        font-size: 18px;
    }


    .wrapp_menus .named_block .named_right{
        position: relative;
        margin-top: 0;
    }
    /*.wrapp_menus .named_block .named_right span{*/
        /*right: -44px;*/
    /*}*/
    .header .logo img{
        margin-top: 16px;
    }
    .wrapp_menus .profile_hover_block.active_shadow{
        box-shadow: none;
    }
    .wrapp_menus .flex_blocks:hover{
        box-shadow: none !important;
    }
    #aut_position{
        display: none !important;
    }
    .wrapp_menus .none_border_left{
        border-left: none;
        padding-right: 0;
        box-shadow: none;
    }
    .wrapp_menus .none_border_left:hover{
        box-shadow: none;
    }
    .wrapp_menus .none_border_left .navbar-toggle{
        margin-left: 10px;
        margin-top: 6px;
    }
    .bott_links{
        display: none;
    }
    .wrapp_menus{
        margin-bottom: 0;
    }
    .wrapp_menus .flex_blocks{
        margin-top: 10px;
        margin-bottom: 10px;
        height: 47px;
    }
    .wrapp_menus .wr_all .main_p_numb{
        margin-top: 0;
    }
    .wrapp_menus .money_show p{
        font-size: 20px;
        line-height: 17px;
    }
    .wrapp_menus .flex_blocks .ava_blocks img{
        width: 48px;
        height: 48px;
    }
    .wrapp_menus .flex_blocks .ava_blocks{
        margin-top: 0;
    }
    .autorised_user .header .navbar-header{
        display: block;
    }

    .text_area_fore_review{
        max-width: 70%;
        min-width: 70%;
        margin: 25px auto 0 auto;
        display: block;
    }
    .mt5{
        max-width: 100%;
        min-width: 100%;
    }
    .bg_block_top_autor .slider_wrapper_first_screen .bx-wrapper .bx-prev{
        display: none;
    }
    .bg_block_top_autor .slider_wrapper_first_screen .bx-wrapper .bx-next{
        display: none;
    }
    .slider_wrapper_first_screen .bxslider_first .one-slide .cont{
        padding-left: 0 !important;
        text-align: center;
    }
    .slider_wrapper_first_screen .bxslider_first .one-slide .cont p{
        font-size: 36px !important;
    }
    .show_me_all_shops .center_blocks_search .center_two_btns .link_f_shops{
        min-width: 260px;
        display: inline-block;
        margin-right: 20px;
    }

    .show_me_all_shops .list_of_shop .bxslider_shops li .inside_s .images_shop img{
        width: 80%;
    }
    .show_me_all_shops .list_of_shop .ul_wrapps li .inside_s .images_shop img{
        width: 80%;
    }
    .main-wrapps_span{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .show_me_all_shops .list_of_shop .bxslider_shops li{
        width: 33.3%;
    }
    .show_me_all_shops .list_of_shop  .ul_wrapps li{
        width: 33.33333%;
    }
    .show_me_all_shops .list_of_shop {
        padding: 0 25px 0 25px;
    }
    .catalog_block .list_of_shop {
        padding: 0;
    }
    .pay_block .left_pat_sistems_block{
        width: 100%;
        float: none;
    }
    .pay_block .right_img_blocks{
        width: 100%;
        float: none;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
    .more_cashback .wrapp_slider_bottom{
        margin: 30px auto 30px auto;
        width: 483px;
        padding: 0 5px;
    }

    .more_cashback .wrapp_all_prasents_and_slider {
        margin: 20px auto;
        width: 483px;
    }
    .more_cashback .wrapp_all_prasents_and_slider .animate_hover_wrapp {
        width: 483px;
        padding: 5px;
    }

    .more_cashback .wrapp_div_fore_start_economy {
        width: 473px;
        float: none;
        margin:  0 auto;
    }
    .more_cashback .h2_ore_cashback{
        font-size: 32px;
        margin-bottom: 15px;
    }
    .h2_ore_about_us{
        font-size: 32px;
        margin-bottom: 15px;
    }
    .more_cashback .text_buying{
        font-size: 18px;
        line-height: 29px;
    }
    .more_cashback .wrapper_center_line_color .small_line_wrapper{
        margin: 20px auto 33px auto;
    }
    .container{
        width: 100%;
    }
    .bg_block_top .white_form_start_economy .inside_form_wrapp .form_class .wrapp_input {
        position: relative;
        width: 100%;
        margin-bottom: 12px;
    }
    .an_padding{
        padding-right: 18px !important;
        padding-left: 18px !important;
        margin-right: auto;
        margin-left: auto;
    }
    .bg_block_top {
        background-position: 25% 17%;
    }
    .navbar .login_btns{
        top: -66px;
        right: 81px;
    }
    .header .navbar-header .logo img{
        margin-top: 16px;
    }
    .bg_block_top .left_part_main_block .left_part_main_block_h1{
        font-size: 30px;
        margin-bottom: 25px;
    }
    .bg_block_top .left_part_main_block{
        height: auto;
    }
    .bg_block_top .white_form_start_economy .inside_form_wrapp .form_white_bg {
        background: none;
        width: 340px;
        padding: 0;
        text-align: center;
        margin: 0 auto;
    }
    .bg_block_top .white_form_start_economy .or_enter_soc_p {
        color: #ffffff;
        margin-top: 21px;
        font-size: 16px;
    }
    .wrapp_text{
        width: 420px;
        text-align: center;
        margin: 132px auto 0 auto;
    }
    .bg_block_top .white_form_start_economy{
        height: auto;
    }
    .img_s_block_shop img{
        width: 60px;
    }
    .img_s_block_shop{
        position: relative;
        text-align: center;
        height: 100px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .img_s_block_shop img.cl_1_img{
        width: 75px;
    }
    .shops_block_start .text_fore_images{
        width: 170px;
        font-family: 'officinaserifbookcbook' ,sans-serif;
        font-size: 16px;
        bottom: -45px;
    }
    .shops_block_start{
        margin-top: 45px;
        margin-bottom: 90px;
    }
    .shops_block_start .img_s_block_shop .animate_blue_bg_number {
        right: -25px;
        top: -15px;
    }
    .shops_block_start .img_s_block_shop:hover > .animate_blue_bg_number{
        transform: scale(1.25);
        top: -20px !important;
        right: -35px !important;
    }

    .footer{
        min-height: 315px;
    }
    .foot_wrapp_btns .type_subm_form_btn{
        font-size: 15px;
    }
    .review_from_user .img_wrapper{
        width: 100%;
        float: none;
        min-height: 460px;
    }
    .review_from_user .slider_wrapper {
        float: none;
        width: 100%;
        padding: 45px 40px 35px 40px;
        min-height: 460px;
    }
    .pay_block .left_pat_sistems_block{
        min-height: inherit;
    }
    .pay_block .right_img_blocks{
        background: url("../img/600.jpg") center center;
        min-height: 270px;
    }
    .status_table tr td{
        padding: 10px 7px;
    }
    .gold_wrapp_block {
        margin-right: 0;
    }
    .cooper_wrapp_block {
        margin-left: 0;
    }
    .conversion_block_style{
        background-size: cover;
    }
    .conversion_block_style .left_part_main_block .left_part_main_block_h1{
        font-size: 36px;
    }
    .conversion_block_style {
        background-position: 53% 0;
    }
    .conversion_block_style .wrapp_text{
        margin: 70px auto 0 auto;
    }
    .conversion_block_style .color_line{
        bottom: -1px;
    }
    .conv_logos{
        margin-bottom: 40px;
    }
    .href_forgot{
        color: #FFFFFF
    }
    .href_forgot:hover{
        color: #FFFFFF
    }
    .reHeightClass{
        height: 720px;
        min-height: 720px;
    }
    .big_arrow_slider .bx-controls-direction{
        display: none !important;
    }
    .class_blue_menu_vi_xs{
        margin-bottom: 15px;
    }
    .slidedown_block{
        display: none;
    }
    .one_item_help{
        width: 100%;
        margin-bottom: 30px;
    }


}
/*=================================================================  979px  ==========*/

@media only screen and (max-width : 768px) {
    .save_rekv_tables{
        border-top: 1px solid #DCDCDC;
    }
    .last_td{
        margin-bottom: 10px;
    }
    .pos_abs_span_cross{
        right: 0;
        top: -60px;
    }
    .save_rekv_tables tr{
        padding-bottom: 5px;
    }
    .save_rekv_tables tr td{
        width: 100%;
        display: inline-block;
        text-align: center;
        padding: 5px 10px;
    }
    .save_rekv_tables .left_img_card{
        display: inline-block;
        margin-bottom: 0;
    }
    .tr_small_font{
        font-size: 12px !important;
    }
    .img_wrappers_blog{
        min-height: 345px;
        position: relative;
    }
    .img_wrappers_blog img{
        width: 200%;
        height: 100%;
        position: absolute;
        left: -21%;
        top: 0;
    }
}

/*=================================================================  599px  ==========*/
/* Small Devices, Tablets */
@media only screen and (max-width : 599px) {
    .show_me_all_shops .list_of_shop .ul_wrapps li:hover .top_abs_hide{
        transform: translateX(0px)
    }
    .show_me_all_shops .slider_B .bx-controls-direction{
        display: none;
    }
    .show_me_all_shops .slider_B{
        padding: 0;
    }
    .show_me_all_shops .slider_B .list_of_shop .bx-pager{
        display: block;
    }
    .show_me_all_shops .slider_B .list_of_shop .bx-wrapper{
        margin-bottom: 60px;
    }
    .fancybox-overlay .href_forgot{
        color: #ff4f2f !important;
    }
    .reHeightClass{
        height: 580px !important;
        min-height: 580px !important;
    }
    .wrapper_invite_friend .wrapp_div_fore_start_economy{
        width: 100%;
    }
    .wrapper_invite_friend .wrapper_center_line_color .small_line_wrapper {
        width: 160px;
        height: 4px;
        overflow: hidden;
        margin: 20px auto 20px auto;
    }
    .wrapper_invite_friend .wrapp_div_fore_start_economy .icon_soc_join ul li{
        margin-right: -1px;
    }
    .wrapper_invite_friend .wrapp_div_fore_start_economy .form_white_bg1{
        padding: 0;
    }
    .you_pick_p{
        font-size: 18px;
        margin-bottom: 25px;
    }
    .wrapper_invite_friend .wrapp_div_fore_start_economy .or_enter_soc_p {
        font-size: 16px;
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .mr15{
        min-width: auto;
    }
    .padding_fore_all_cont_block{
        padding: 25px 15px;
    }
    .tr_small_font{
        font-size: 14px !important;
    }
    .lk_p_main{
        font-size: 16px;
        margin-bottom: 20px;
        margin-top: 25px;
    }
    .checkbox_label{
        font-size: 14px;
    }
    .reset_btn_black{
        margin: 15px auto 0 auto;
        display: block;

    }
    .label_span{
        margin-bottom: 7px;
        font-size: 14px;
    }
    .soc_registr .icon_soc_join li a{
        width: 43px;
        height: 43px;
        margin-right: 7px;
        font: 20px/43px fontawesome;
    }
    .soc_registr .icon_soc_join li a.soc_icon-go{
        width: 43px;
        height: 43px;
        margin-right: 0;
    }
    .soc_registr .icon_soc_join li a.active:after{
        width: 20px;
        height: 20px;
    }
    .pb_0_600{
        padding-bottom: 0 !important;
    }
    .mt15_600{
        margin-top: 15px
    }

    .main_user_icons{
        text-align: center;
    }
    .wrapp_max_w_block{
        width: 100%;
    }
    .mb_50{
        margin-bottom: 50px;
    }
    .pb_0_600_1{
        padding-bottom: 1px !important;
    }
    .inside_slot{
        height: auto;
        text-align: center;
    }
    .link_imgs img{
        display: inline-block !important;
    }

    .akc_name .p_sls{
        font-size: 20px;
        height: 71px;
    }
    .r_text_infos{
        text-align: center;
    }
    .prise {
        float: none;
        margin: 20px auto 7px auto;
    }
    .m_w_270 {
        min-width: 100% !important;
    }
    .activate_cashb{
        width: 100%;
        text-align: center;
        font-size: 20px;
        padding: 17px 10px;
    }
    .rewiev_wrapp_block .pb_0 .img_blocks_icon{
        width: 80px !important;
        height: 80px !important;
    }
    .rewiev_wrapp_block .pb_0 .img_blocks_icon img{
        width: 100%;
        height: 100%;
    }
    .rewiev_wrapp_block .pb_0 .img_blocks_icon{
       float: none !important;
    }
    .akc_wrapper .h2_z{
        font-size: 24px;
    }
    .p2_z{
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .rewiev_wrapp_block .one_rewiew_blocks .img_blocks_icon{
        margin-right: 15px;
    }
    .m_w_215{
        min-width: 100%;
    }
    .rewiev_wrapp_block .one_rewiew_blocks .pos_abs_r {
        margin-left: 64px;
    }
    .rewiev_wrapp_block .one_rewiew_blocks .left_0 {
        margin-left: 0 !important;
    }

    .rewiev_wrapp_block .one_rewiew_blocks .right_rev_blocks .name_us span{
        margin-left: 0;
    }
    .rewiev_wrapp_block .one_rewiew_blocks{
        display: block;
    }
    .rewiev_wrapp_block .one_rewiew_blocks .img_blocks_icon{
        float: left;
    }
    .rewiev_wrapp_block .one_rewiew_blocks .img_blocks_icon{
        width: 50px;
        height: 50px;
    }
    .rewiev_wrapp_block .one_rewiew_blocks .img_blocks_icon img{
        width: 100%;
        height: 100%;
    }
    .browser_block .logo__and_text_wrapper .logo_wrapper{
        margin-right: 10px;
    }
    .h1_cart_style{
        font-size: 24px;
    }
    .browser_block{
        height: auto;
        overflow: hidden;
        padding-bottom: 15px;
    }
    .browser_block .logo__and_text_wrapper .text_wrappers{
        width: 61%;
    }
    .browser_block .logo__and_text_wrapper{
        margin-top: 0;
    }
    .browser_block .logo__and_text_wrapper img{
        margin-top: 10px;
    }
    .browser_block .logo__and_text_wrapper .text_wrappers a{
        font-size: 16px;
        margin-top: 18px;
        line-height: 17px;
    }
    .prog_profit {
        font-size: 18px;
        text-align: center;
    }
    .text_area_fore_review{
        max-width: 100%;
        min-width: 100%;
        font-size: 16px;
        padding: 15px;
    }
    .wrapp_menus .none_border_left{
        padding-left: 5px;
    }
    .wrapp_menus .profile_hover_block{
        border-left: none;
    }
    .bg_block_top_autor .slider_wrapper_first_screen .cont .subm_btns{
        max-width: 200px;
    }
    .subm_btns{
        max-width: 100%;
        font-size: 18px;
    }
    .reset_btn_black{
        font-size: 18px;
    }
    .slider_wrapper_first_screen .bxslider_first .one-slide .cont p{
        font-size: 24px !important;
    }
    .bg_block_top_autor .slider_wrapper_first_screen .bxslider_first .one-slide > img{
        height: 370px;
        width: auto;
    }
    .show_me_all_shops .center_blocks_search .center_two_btns .link_f_shops{
        min-width: 100%;
        display: inline-block;
        margin-right: 0;
        margin-bottom: 0;
    }
    .show_me_all_shops .center_blocks_search .auth{
        margin-bottom: 0 !important;
    }

    .main-wrapps_span{
        font-size: 22px;
    }
    .show_me_all_shops .list_of_shop{
        margin-bottom: 0;
    }

    .show_me_all_shops .list_of_shop .bxslider_shops li{
        width: 50%;
    }
    .show_me_all_shops .list_of_shop .bxslider_shops li{
        padding: 0;
    }
    .show_me_all_shops .list_of_shop .ul_wrapps li{
        width: 50%;
    }
    .show_me_all_shops .list_of_shop .ul_wrapps li{
        padding: 0;
    }
    .catalog_block .list_of_shop .ul_wrapps li{
        margin-bottom: 20px;
        width: 47.4%;
    }
    .show_me_all_shops .list_of_shop {
        width: 100%;
        padding: 20px;
    }
    .catalog_block .list_of_shop {
        width: 100%;
        padding: 0;
        margin-left: 0;
    }
    .catalog_block .list_of_shop .ul_wrapps > :nth-child(odd){
        margin-right: 5%;
    }
    .catalog_block .list_of_shop .slider1 > :nth-child(odd){
        margin-right: 0%;
    }
    .pagination ul li {
        float: left;
        margin-right: 2px;
    }
    .pagination{
        margin-bottom: 60px;
    }
    .show_me_all_shops .center_blocks_search .search_form_fore_shops .header_wrapper .header_search_btn{
        height: 42px;
        width: 42px;
        margin-bottom: 25px;
    }
    .show_me_all_shops .center_blocks_search .search_form_fore_shops{
        padding: 15px;
        height: 72px;
    }
    .show_me_all_shops .center_blocks_search .search_form_fore_shops .header_wrapper .header_search{
        height: 42px;
    }
    .show_me_all_shops .center_blocks_search .search_form_fore_shops{
        margin-top: 20px;
    }
    .show_me_all_shops .center_blocks_search .h2_shops{
        font-size: 22px;
    }
    .more_cashback .text_buying{
        font-size: 16px;
    }
    .more_cashback .wrapp_all_prasents_and_slider .animate_hover_wrapp .prasents .center_percents{
        font-size: 18px;
    }
    .more_cashback .wrapp_all_prasents_and_slider .animate_hover_wrapp .prasents .center_percents{
        left: 22%;
    }
    .pay_block .left_pat_sistems_block .pay_sistams_wrapper .pay_one_block .img_block_pay{
        height: 85px;
    }
    .pay_block .left_pat_sistems_block .pay_sistams_wrapper{
        display: inline-block;
        height: auto;
    }
    .pay_block .left_pat_sistems_block{
        min-height: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    .pay_block .left_pat_sistems_block .what_say_about_us{
        font-size: 22px;
    }
    .pay_block .left_pat_sistems_block .pay_sistams_wrapper .pay_one_block .img_block_pay img{
        width: 47px;
        margin: 20px auto 5px;
    }
    .pay_block .left_pat_sistems_block .pay_sistams_wrapper .pay_one_block .text_seo_placed{
        font-size: 14px;
        line-height: normal;
    }
    .pay_block .left_pat_sistems_block .pay_sistams_wrapper .pay_one_block{
        height: 130px;
    }
    .more_cashback .wrapp_slider_bottom{
        width: 100%;
    }
    .more_cashback .wrapp_all_prasents_and_slider {
        margin: 10px auto 20px auto;
        width: 100%;
    }
    .more_cashback .wrapp_all_prasents_and_slider .animate_hover_wrapp {
        width: 100%;
        padding: 5px;
    }
    .footer .mar_top_wrapp .nav_menu ul {
        width: 100%;
        float: none;
    }
    .foot_wrapp_btns .type_subm_form_btn{
        margin-top: 0;
    }
    .bg_block_top .white_form_start_economy .or_enter_soc_p{
        color: #ffffff;
    }
    .bg_block_top .white_form_start_economy .inside_form_wrapp .form_white_bg {
        background: none;
        width: 340px;
        padding: 0;
        text-align: center;
        margin: 0 auto;
    }
    .more_cashback .btn_wrapp_show_xs{
        width: 340px;
        padding: 0;
        text-align: center;
        margin: 0 auto;
    }
    .bg_block_top .white_form_start_economy{
        height: auto;
    }
    .bg_block_top {
        height: 552px;
        min-height: 552px;
        margin-top: 67px;
        background-position: 25% 17%;
        background-size: cover;
    }
    .wrapp_text{
        width: 420px;
        margin: 143px auto 0 auto;
        text-align: center;
    }
    .bg_block_top .white_form_start_economy .inside_form_wrapp .form_white_bg .start_economy{
        color: #fff;
        margin-top: 32px;
    }
    .bg_block_top {
        height: 414px;
        min-height: 380px;
    }
    .foot_wrapp_btns .type_subm_form_btn{
        font-size: 18px;
    }
    .review_from_user .slider_wrapper{
        padding: 20px 40px 25px 40px;
    }
    .review_from_user .slider_wrapper .bxslider li .user_review{
        max-height: none;
    }
    .review_from_user .slider_wrapper{
        height: auto;
    }
    .review_from_user .img_wrapper{
        min-height: 150px;
    }
    .review_from_user .slider_wrapper .what_say_about_us{
        font-size: 22px;
    }
    .more_cashback .h2_ore_cashback {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .h2_ore_about_us {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .more_cashback .wrapper_center_line_color .small_line_wrapper{
        width: 125px;
        height: 3px;
    }
    .more_cashback .wrapper_center_line_color .color_line{
        height: 3px;
    }
    .more_cashback {
        background: url(../img/bg/01.jpg) top left;
        padding: 23px 0 25px 0;
    }
    .filter_links ul li {
        float: left;
        margin-right: 40px;
        margin-bottom: 10px;
    }
    .padding_fore_filter {
        padding: 10px 10px 3px 20px;
    }
    .wrapp_menus .flex_blocks{
        border-left: none;
    }
    .wrapp_menus .named_block{
        border-right: none;
    }
    .jq-checkbox{
        float: right;
    }
    .checkbox_label{
        width: auto;
    }
    .p_car{
        margin-top: 10px;
        height: auto;
    }
    .left_img_card{
        display: block;
        margin-bottom: 10px;
    }
    .yellow_wrapper_info_block{
        padding: 30px 10px;
    }
    .some_infos ul li{
        font-size: 16px;
    }
    .some_infos ul li:before{
        width: 6px;
        height: 6px;
    }
    .h45px{
        margin-top: 20px !important;
    }
    .status_table tr{
        padding: 7px 0;
        display: block;
    }
    .status_table tr td{
        display: inline-block;
        width: 100% !important;
        padding: 3px 15px;
    }
    .pos_abs_span_cross {
        right: 0;
        top: -73px;
    }
    .status_table .p_car{
        margin-top: 0;
    }
    .status_table .left_img_card{
        float: left;
        margin-bottom: 7px;
    }
    .status_table .left_img_card + span{
        display: inline-block;
        margin-top: 6px;
    }
    .status_table .left_img_card{
        float: left;
    }
    .text_center .tr_small_font{
        text-align: left;
    }
    .yell_wrapper_inv_fr .wrapp_row_stat .br_1px{
        border-right: none;
        position: relative;
        margin-bottom: 15px;
    }
    .yell_wrapper_inv_fr .wrapp_row_stat .br_1px .col_fr:after{
        display: none;
    }
    .yell_wrapper_inv_fr .wrapp_row_stat .br_1px:after{
        width: 80px;
        height: 1px;
        background: #D3D3D3;
        content: '';
        position: absolute;
        bottom: 10px;
        left: 50%;
        margin-left: -40px;
    }
    .save_recvis .w40p{
        position: absolute;
        left: 10px;
        width: auto !important;
    }
    .text_center tr td{
        padding-left: 30px;
    }
    .ul_wrapps li .heart{
        left: 10px !important;
    }
    .adblock_block p{
        font-size: 14px;
    }
    .silver_wrapp_block{
        right: auto;
        top: auto;
        position: relative;
        float: none;
        margin: 0 auto 25px auto;
    }
    .P-styler{
        position: relative;
        bottom: 10px;
    }
    .y_en_padding{
        margin-top: 50px;
    }
    .wrapps_registereg_catalog{
        width: 100%;
    }
    .need_register{
        font-size: 22px;
    }
    .wrapps_registereg_catalog .white_form_start_economy .icon_soc_join ul li{
        margin-right: 0;
    }
    .wenother{
        width: 100%;
    }
    .pl_pr15{
        padding: 0;
    }

    .fancybox-reg_popup .fancybox-skin{
        width: 100vw !important;
        margin: 0 !important;
        height: 100vh !important;
        position: fixed;
        top: 0 !important;
        left: 0 !important;
        padding: 0 !important;
        /*padding-left: 2vw !important;*/
        /*padding-right: 2vw !important;*/
    }
    .fancybox-reg_popup .fancybox-inner{
        width: 100vw !important;
        margin: 0 !important;
        height: 100vh !important;
    }
    .fancybox-reg_popup .wrapps_registereg_catalog .white_form_start_economy .inside_form_wrapp .form_class{
        width: 100% !important;
        padding: 0;
    }
    .fancybox-reg_popup .fancybox-close{
        width: 25px;
        height: 25px;
        background-image: url(../img/icon/111.svg) !important;
        background-size: cover;
        top: 10px !important;
        right: 20px !important;
    }
    .fancybox-reg_popup .fancybox-outer .form_class{
        padding: 30px !important;
    }
    /*.fancybox-overlay{*/
        /*background: none !important;*/
    /*}*/
    .empty_shops{
        background-position:  center 35px;
         background-size: 40%;
    }
    .text_with_epty_item{
        font-size: 19px;
    }
    .mess_table tr td{
        display: block;
    }
    .images_mess{
        float: left;
    }
    .date_mess{
        float: left;
    }
    .tabs span{
        font-size: 16px !important;
        margin-right: 0 !important;
    }
    .fr_l{
        float: right;
    }
    .info_mess{
        padding-bottom: 20px !important;
    }
    .mess_table tr td{
        padding: 0  10px!important;
    }
    .mess_table tr{
        padding: 15px 0;
        display: inline-block;
    }
    .img_table_mess{
      display: block;
    }
    .date_mess{
        margin-top: 14px;
    }
    .info_mess{
        margin-top: 15px;
    }
    .info_mess .date_mess{
        margin-top: 0;
    }
    .name_shop{
        margin-left: 5px;
        margin-right: 5px;
    }
    .history tr{
        width: 100%;
    }
    .history tr td{
        width: 100%;
        margin-bottom: 8px;
    }
    .conversion_block_style {
        background-position: 53% 0;
        margin-top: 0;
        height: 465px;
        min-height: 465px;
    }
    .conv_logos {
        display: inline-block;
        margin-bottom: 30px;
        width: 170px;
    }
    .conv_logos img{
        width: 100%;
        height: auto;
    }
    .conversion_block_style .wrapp_text {
        margin: 33px auto 0 auto;
    }
    .conversion_block_style .left_part_main_block .left_part_main_block_h1 {
        font-size: 24px;
    }
    .inside_slot_akc{
        height: auto;
    }
    .inside_slot_akc{
        height: 330px;
        padding: 8px 20px;
    }
    .inside_slot_akc .timer{
        font-size: 18px;
    }
    .inside_slot_akc .timer span{
        font-size: 18px;
    }
    .inside_slot_akc .akc_name .p_sls{
        font-size: 20px;
        text-align: center;
        height: 50px;
    }
    .inside_slot_akc .prise{
        float: none;
        margin: 25px auto 15px auto;
    }
    .inside_slot_akc .show_all_akc , .inside_slot_akc .link_to_website{
        text-align: center;
    }
    .inside_slot_akc .bott_obj{
        margin: 0 auto;
        text-align: center;
        display: block;
    }
    .bg_width_block{
        padding: 10px 15px 40px 15px;
    }
    .bg_width_block .inside_small_wrapper .r_text_infos .timer{
        font-size: 24px;
    }
    .bg_width_block .inside_small_wrapper .r_text_infos .timer span{
        font-size: 24px;
    }
    .bg_width_block .inside_small_wrapper .border_top_wrapper {
        padding-top: 10px;
        margin-top: 15px;
        padding-left: 0;
        padding-right: 0;
    }
    .bg_width_block .inside_small_wrapper .border_top_wrapper .saler_text_akc{
        font-size: 24px;
    }
    .akc_info_text li{
        font-size: 13px;
    }
    #conversion_landing_without_margin_top .cash_back_wrapp{
        background: none;
    }
    #conversion_landing_without_margin_top .conversion_footer{
        margin-top: 50px;
    }
    .mtn_wrapper .type_subm_form_btn{
        font-size: 16px;
        height: 47px;
        background: #ff4f2f;
        color: #ffffff;
        line-height: 16px;
        text-align: center;
        border: none;
        border-radius: 50px;
        margin-bottom: 13px;
        vertical-align: middle;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .padding_fore_faq_cont_block .small_line_wrapper {
        width: 155px;
        height: 4px;
        overflow: hidden;
        margin: 10px auto 20px auto;
    }
    .h2_ore_faq{
        font-size: 22px;
        margin-bottom: 20px;
    }
    .main_questions_text{
        font-size: 18px;
    }
    .padding_fore_faq_cont_block{
        padding: 15px;
    }
    /*.one_q_user .wr_z{*/
        /*height: 0;*/
    /*}*/
    .main_questions_text{
        color: #ff4f2f;
    }
    /*.one_q_user .hidds_wrappers :after{*/
        /*display: none !important;*/
    /*}*/
    .one_q_user{
        padding-bottom: 3px;
    }

    .sm_hid_wrapper{
        display: none;
    }
    .click_toggle{
        display: inline-block !important;
    }

    .xs-restyle{
        padding-bottom: 20px !important
    }
    .xs-restyle .main_questions_text{
        color: #3d424b
    }
    .xs-restyle .sm_hid_wrapper{
        display: block
    }
    .xs-restyle .wr_z{
        height: auto
    }
    .clicks_class{
        cursor: pointer;
    }
    .h_0_over_hidden{
        height: 0;
        overflow: hidden;
        padding: 0 !important;
        border: none;
    }
    .pay_kashb_user > span{
        margin-top: 10px;
        margin-left: 0;
    }
    .mb40_600{
        margin-bottom: 40px !important;
    }
    .padding_fore_one_cont {
        padding: 20px;
    }
    .some_text{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .text_fore_icon{
        font-size: 14px;
    }
    .img_s_icon{
        width: 50px;
        margin: 20px 25px 20px 10px;
    }
    .img_s_icon img{
        width: 50px;
    }
    .img_s_icon .s_03svg{
        width: 40px;
    }
    .text_partnership{
        font-size: 16px;
    }
    .phone_infos{
        position: relative;
        left: 0;
        top: 0;
        padding-bottom: 25px;
        padding-top: 10px;
        width: 100%;
        box-shadow: none;
        height: auto;
        border-left: 1px solid #DCDCDC;
        border-right: 1px solid #DCDCDC;
    }
    .icons_phones{
        border: none;
        margin-bottom: 0;
        height: 41px;
        line-height: 44px;
    }
    .posit{
        border: none;
        padding-top: 4px;
    }
    .posit:before{
        top: 8px;
    }
    .icons_mail span{
        display: inline-block;
        margin-left: 10px;
        bottom: 0;
    }
    .icons_mail{
        margin-bottom: 10px;
    }

    .icon_wrapp{
        margin-bottom: 30px;
    }
    .text_main_cash{
        font-size: 22px;
        text-align: center;
    }
    .logo_img {
        width: 165px;
        margin: 0 auto;
    }
    .img_wrappers_about_us , .img_wrappers_partners{
        height: 270px;
    }
    .text_main_cashs{
        font-size: 22px;
    }
    .your_profit_text{
        font-size: 18px;
        line-height: 24px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .bor_bot .yellow_blocks_partners{
        margin: 25px auto 0 auto;
        padding: 20px 10px 30px 10px;
    }
    .bor_bot .yellow_blocks_partners .tarif_info{
        font-size: 20px;
    }
    .bor_bot .yellow_blocks_partners table tr td{
        font-size: 16px;
        vertical-align: middle;
    }
    .bor_bot .yellow_blocks_partners table{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .bor_bot{
        margin-bottom: 0;
        border-bottom: none;
    }
    .mb_blocks{
        margin-bottom: 40px;
        padding-top: 20px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
    .bor_bot .yellow_blocks_partners .sale_red_color_lol{
        height: 45px;
        line-height: 45px;
        font-size: 18px;
    }
    .one_item_help{
        width: 100%;
        overflow: hidden;
        margin-bottom: 15px;
        border: 1px solid #DCDCDC;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .one_item_help .img_item_help{
        width: 50%;
        float: left;
        align-items: center;
    }
    .one_item_help .text_item_help{
        width: 50%;
        float: right;
        font-size: 18px;
        padding-left: 0;
    }
    .one_item_help .img_item_help img{
        width: 60px;
    }
    .wrapp_blog_it .img_wrapper_blog_item{
        height: 90px;
    }
    .date_blog_wr{
        display: none;
    }
    .main_item_text{
        font-size: 14px !important;
    }

    .wrapp_blog_it .text_wrapper_blog{
        height: 100px;
        padding: 10px;
    }
    .wrapp_blog_it .text_wrapper_blog .main_item_text{
        margin-top: 0;
    }
    .wrapp_blog_it{
        margin-bottom: 15px;
    }
    .pr_odd_pl_even > div:nth-child(even){
        padding-left: 7.5px
    }
    .pr_odd_pl_even > div:nth-child(odd){
         padding-right: 7.5px
    }
    .bg_whites_pod{
        bottom: -12px;
    }
    .bg_y{
        margin-bottom: 50px !important;
        border-bottom: 1px solid #DCDCDC !important;
    }
    .op_text{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .autorise_fore_connect{
        font-size: 16px;
    }
    .mb10_small{
        margin-bottom: 10px !important;
    }
    .ad_files_p{
        margin-top: 10px;
    }
    .sm_xs{
        width: 170px;
        height: 4px;
        overflow: hidden;
        margin: 10px auto 20px auto;
    }
    .img_wrappers_blog{
        min-height: 270px;
        position: relative;

    }
    .img_wrappers_blog img{
        width: 200%;
        height: 100%;
        position: absolute;
        left: -21%;
        top: 0;
    }
    .img_wrappers_blog .main_blog_text{
        font-size: 24px;
    }
    .fancy_vrapp_blocks .list li{
        width: 45%;
        margin-right: 15px;
        margin-bottom: 20px;
        height: auto;
    }
    .fancy_vrapp_blocks .list li:nth-child(even){
        margin-right: 0;
    }
    .fore_big_search .search_form_fore_shops #slide-menu-search1 .select2-container--default .select2-selection--multiple{
        height: 42px;
        line-height: 42px;
    }
    .fore_big_search .select2-results__message{
        bottom: 9px;
    }
    .fore_big_search .search_form_fore_shops .search_btn{
        width: 64px;
        height: 40px;
    }
    .flex_ul li a{
        width: 43px;
        height: 43px;
    }
    .yellow_warning_block{
        display: block;
    }
    .warning_texts{
        margin-left: 0;
    }
    .yellow_warning_block .warning_texts{
        margin-left: 0;
        margin-top: 10px;
    }
    .warning_image{
        text-align: center;
    }
    .time_to_end{
        display: block;
    }
    .flex_child{
        width: 100%;
    }
}
/*=================================================================  599px  ==========*/
/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px) {

}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
/* Small Devices, Tablets */
@media only screen and (max-width : 800px) {
    .navbar-default .navbar-nav li:first-child {
        margin-right: 30px !important;
    }
}


@media only screen and (max-width : 700px) {
    .shops_block_start .text_fore_images {
        left: -48px;
    }
}
@media only screen and (max-width : 570px) {
    .more_cashback .wrapp_all_prasents_and_slider .animate_hover_wrapp .prasents{
        /* height: 175px; */
    }
    .login_btns {
        font-size: 0;
        width: 40px;
        height: 39px;
    }
    .login_btns i{
        left: 14px;
        top: 14px;
    }
    .navbar .login_btns {
        top: -66px;
        right: 74px;
    }
    .more_cashback .wrapp_all_prasents_and_slider .animate_hover_wrapp .prasents img{
        width: 85%;
    }
}
@media only screen and (max-width : 420px) {

    .more_cashback .wrapp_all_prasents_and_slider .animate_hover_wrapp .prasents{
        height: 150px;
    }
    .wrapp_text{
        width: 100%;
        text-align: center;
    }
    .bg_block_top .white_form_start_economy .inside_form_wrapp .form_white_bg{
        width: 100%;
    }
    .more_cashback .btn_wrapp_show_xs{
        width: 100%;
    }
    .bg_block_top .white_form_start_economy .icon_soc_join ul li {
        margin-right: 1px;
    }
    .soc_registr .icon_soc_join li a{
        width: 41px;
        height: 41px;
        margin-right: 0;
        font: 20px/41px fontawesome;
    }
}
@media all and (max-width: 1399px) and (min-width: 979px) {
    .inside_slot_akc{
        height: 330px;
        padding: 8px 20px;
    }
    .inside_slot_akc .timer{
        font-size: 18px;
    }
    .inside_slot_akc .timer span{
        font-size: 18px;
    }
    .inside_slot_akc .akc_name .p_sls{
        font-size: 20px;
        text-align: center;
        height: 50px;
    }
    .inside_slot_akc .prise{
        float: none;
        margin: 25px auto 15px auto;
    }
    .inside_slot_akc .show_all_akc , .inside_slot_akc .link_to_website{
        text-align: center;
    }
    .inside_slot_akc .bott_obj{
        margin: 0 auto;
        text-align: center;
        display: block;
    }
}
@media all and (max-width: 979px) and (min-width: 600px) {


    .img_and_links img {
        margin-top: 20px;
        margin-bottom: 23px;
        max-width: 160px;
    }
    .img_and_links {
        padding-bottom: 0;
    }
    .h_static{
        height: 48px;
    }
    .h_static a{
        margin-top: 6px;
    }
    .products .goods_from- {
        color: #3d424b;
        font-size: 20px;
        font-family: 'officinaserifbookcbook' ,sans-serif;
    }
    .input-row{
        margin-top: 6px;
    }
    .products {
        padding: 13px 0 14px 20px;
    }
    .padding_l_0{
        padding-left: 0 !important;
    }
    .padding_r_0{
        padding-right: 0 !important;
    }
    .bord_left_1{
        border-left: 1px solid #EAEAEA;
    }
    .bb_none{
        border-bottom: none !important;
    }
}
/*анимация кнопки кэш*/
.tada {
    animation: tada_2944  4s 4s linear infinite;
    transform-origin: 50% 50%;
}
@keyframes tada_2944 {
    0% { transform: scale(1) }
    3.57143% { transform:scale(.9) rotate(-2deg) }
    7.14286% { transform:scale(.9) rotate(-2deg) }
    10.71429% { transform:scale(1) rotate(2deg) }
    14.28571% { transform:scale(1) rotate(-2deg) }
    17.85714% { transform:scale(1) rotate(2deg) }
    21.42857% { transform:scale(1) rotate(-2deg) }
    25% { transform:scale(1) rotate(2deg) }
    28.57143% { transform:scale(1) rotate(0) }
    100% { transform:scale(1) rotate(0) }
}
/*анимация кнопки кэш*/
.pulse {
    animation: pulse_5849 0.2s linear 1;
    transform-origin: 50% 50%;
}
@keyframes pulse_5849 {
    0% { transform: scale(1.0) }
    100% { transform: scale(1.3) }
}

.daNuNa {
    animation: burst_7329 0.5s linear 1;
    transform-origin: 50% 50%;
}
@keyframes burst_7329 {
    0% { border:1px solid #EB1D1D}
    30% { transform:scale(1); border:1px solid #DCDCDC}
    60% { transform:scale(1); border:1px solid #EB1D1D}
    90% { transform:scale(1); border:1px solid #DCDCDC}
    100% { transform:scale(1); border:1px solid #EB1D1D}
}

.daNuNa2 {
    animation: burst_222 0.5s linear 1;
    transform-origin: 50% 50%;
}
@keyframes burst_222 {
    0% { border:1px solid #ff0000 }
    30% { transform:scale(1); border:1px solid #DCDCDC }
    60% { transform:scale(1); border:1px solid #ff0000 }
    90% { transform:scale(1); border:1px solid #DCDCDC }
    100% { transform:scale(1); border:1px solid #ff0000 }
}

/*все что касается анимаций в слайдере*/
/*1 анимация*/
.show .animate_block1 {
    animation: animasuons1 0.5s linear 1;
    animation-delay: 0.1s;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
}
@keyframes animasuons1 {
    0% { transform: scale(0);opacity: 1 }
    100% { transform: scale(1);opacity: 1 }
}
/*1 анимация*/


/*2 анимация*/
.show .animate_block2 {
    animation: animasuons2 0.5s linear 1;
    animation-delay: 0.2s;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
}
@keyframes animasuons2 {
    0% { transform: scale(0);opacity: 1 }
    100% { transform: scale(1);opacity: 1 }
}
/*2 анимация*/

/*3 анимация*/
.show .animate_block3 {
    animation: animasuons3 0.5s linear 1;
    animation-delay: 0.3s;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
}
@keyframes animasuons3 {
    0% { transform: scale(0);opacity: 1 }
    100% { transform: scale(1);opacity: 1 }
}
/*3 анимация*/

/*4 анимация*/
.show .animate_block4 {
    animation: animasuons4 0.5s linear 1;
    animation-delay: 0.4s;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
}
@keyframes animasuons4 {
    0% { transform: scale(0);opacity: 1 }
    100% { transform: scale(1);opacity: 1 }
}
/*4 анимация*/

/*5 анимация*/
.show .animate_block5 {
    animation: animasuons5 0.5s linear 1;
    animation-delay: 0.5s;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
}
@keyframes animasuons5 {
    0% { transform: scale(0);opacity: 1 }
    100% { transform: scale(1);opacity: 1 }
}
/*5 анимация*/

/*6 анимация*/
.show .animate_block6 {
    animation: animasuons6 0.5s linear 1;
    animation-delay: 0.6s;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
}
@keyframes animasuons6 {
    0% { transform: scale(0);opacity: 1 }
    100% { transform: scale(1);opacity: 1 }
}
/*6 анимация*/

/*7 анимация*/
.show .animate_block7 {
    animation: animasuons7 0.5s linear 1;
    animation-delay: 0.7s;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
}
@keyframes animasuons7 {
    0% { transform: scale(0);opacity: 1 }
    100% { transform: scale(1);opacity: 1 }
}
/*7 анимация*/

/*8 анимация*/
.show .animate_block8 {
    animation: animasuons8 0.5s linear 1;
    animation-delay: 0.8s;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
}
@keyframes animasuons8 {
    0% { transform: scale(0);opacity: 1 }
    100% { transform: scale(1);opacity: 1 }
}
/*8 анимация*/

/*9 анимация*/
.show .animate_block9 {
    animation: animasuons9 0.5s linear 1;
    animation-delay: 0.9s;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
}
@keyframes animasuons9 {
    0% { transform: scale(0);opacity: 1 }
    100% { transform: scale(1);opacity: 1 }
}
/*9 анимация*/

/*10 анимация*/
.show .animate_block10 {
    animation: animasuons10 0.5s linear 1;
    animation-delay: 1s;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
}
@keyframes animasuons10 {
    0% { transform: scale(0);opacity: 1 }
    100% { transform: scale(1);opacity: 1 }
}
/*10 анимация*/

/*11 анимация*/
.show .animate_block11 {
    animation: animasuons11 0.5s linear 1;
    animation-delay: 1.1s;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
}
@keyframes animasuons11 {
    0% { transform: scale(0);opacity: 1 }
    100% { transform: scale(1);opacity: 1 }
}
/*11 анимация*/

/*12 анимация*/
.show .animate_block12 {
    animation: animasuons12 0.5s linear 1;
    animation-delay: 1.2s;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
}
@keyframes animasuons12 {
    0% { transform: scale(0);opacity: 1 }
    100% { transform: scale(1);opacity: 1 }
}
/*12 анимация*/
@media only screen and (max-width : 1399px){
    .white_tic4{
        width: 70px;
        height: 70px;
        left: 134px;
        top: 8px;
    }
    .bg_block_top_autor .slider_wrapper_first_screen .bxslider_first_text .container .one-slide .cont .white_tic4 img{
        width: 80% !important;
        height: auto;
    }
}

/*правки слайдера*/
.show .sps a{
    background: #fff;
    border-radius: 10em;
    transition: all .2s ease-in-out;
}
.show .sps:hover a{
    transform: scale(1.2);
}
/*правки слайдера*/

/*все что касается анимаций в слайдере*/



/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 980px) {
    .slidedown_block{
        display: block !important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}